:root{
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --titulos:'Baloo 2', cursive;
    --parrafos:'Montserrat', sans-serif;
}

html{
    box-sizing:  border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

*,*::before, *::after{
    box-sizing: inherit;
}



h1,h2,h3{
    font-family: var(--titulos);
}

p,a{
    font-family: var(--parrafos);
}


.encabezado{
    background-image: url('https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;

}

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
}